/*Robert Smith*/
#navs {
    text-decoration: none;
    font-size: 30px;
    Color: white;
    
}
#navBar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkblue;
    word-spacing: 30px;
}
#Welcome{
    margin-top: 40px;
    text-align: center;
}
#resume{
    width: 820px;
    margin-left: auto ;
    margin-right: auto ;
}
#date{
    font-size: 40px;
}